
@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model E_ComerCore.Models.SlideShow

<div class="content-wrapper pl-3">
    <section class="content-header">
        <h1>
           Edit SlideShow

        </h1>

    </section>

    <section class="content">

        <div class="row">

            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">New SlideShow Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form method="post" role="form" asp-area="admin" asp-controller="slideshow" asp-action="edit" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="name">Photo</label>
                                <input type="file" class="form-control" name="photo">
                                <br />
                                <img src="~/slidesshows/@Model.Name" width="120" />
                            </div>
                            <div class="form-group">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" asp-for="Title" placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" asp-for="Description"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="Status"> Status
                                </label>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <input type="hidden" asp-for="Id" />
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>
    </div>