 <!--slider-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    @{var index = 0; }
                    @foreach (var SlideShow in Model) {
                        <div class="item @(index == 0 ? "active" : "") ">
                            <div class="col-sm-6">
                                <h1><span>OR</span>-STORE</h1>
                                <h2>@SlideShow.Title</h2>
                                <p>@SlideShow.Description </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/slidesshows/@SlideShow.Name" class="girl img-responsive" alt="" style="max-height:330px;min-width:390px" />
                                @*<img src="images/home/pricing.png" class="pricing" alt="" />*@
                            </div>
                        </div>
                        index++;
                    }
                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>